<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jack.app">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.jack.platform.application.ComponentApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jack.app.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jack.app.test.image.TestViewToBitmapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jack.app.time.TestTimerActivity"
            android:screenOrientation="portrait"/>

        <!--pull utral style pages-->
        <activity android:name=".test.pull.utral.ui.activity.PtrDemoHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.PullToRefreshActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.AutoRefreshActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.WithGridViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.EvenOnlyATextViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.HideHeaderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.KeepHeaderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.ReleaseToRefreshActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.WithListViewAndEmptyView"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.WithListViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.WithScrollViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.WithTextViewInFrameLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.activity.WithWebViewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".test.pull.utral.ui.EnableNextPTRAtOnceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.MaterialStyleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.MaterialStylePinContentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.RentalsStyleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.WithLongPressActivity"
            android:screenOrientation="portrait"/>

        <!--pull store house pages-->
        <activity android:name=".test.pull.utral.ui.storehouse.StoreHouseUsingStringArrayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.storehouse.StoreHouseUsingPointListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.pull.utral.ui.storehouse.StoreHouseUsingStringActivity"
            android:screenOrientation="portrait"/>

        <!-- TextView activity -->
        <activity android:name=".test.textview.CircleDegreeTextViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jack.app.test.image.TestDrawableLayerListActivity"
            android:screenOrientation="portrait"/>

        <!-- Animator activity-->
        <activity android:name="com.jack.app.test.anim.TestWaveEffectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jack.app.test.anim.TestWaveViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jack.app.test.anim.TestDragFollowAnimationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.loadinganimator.TestLoadingAnimationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.loadinganimator.AnimalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.loadinganimator.CircleJumpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.loadinganimator.CircleRotateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.loadinganimator.GoodsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.loadinganimator.SceneryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.loadinganimator.ShapeChangeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.TestLoadingProgressAnimActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.anim.TestSpiderAnimViewActivity"
            android:screenOrientation="portrait"/>


        <!-- ViewGroup activity -->
        <activity android:name=".test.viewgroup.floatingview.TestFloatingViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jack.app.test.textview.TestHtml2StringActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jack.app.test.viewgroup.TestRelativeLayoutLayoutRules"
            android:screenOrientation="portrait"/>

        <!-- ViewPager activity -->
        <activity android:name=".test.viewpager.CircleViewPagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".test.viewpager.StandardViewPagerActivity"
            android:screenOrientation="portrait"/>



    </application>

</manifest>